In [29]:
# Imports
import pandas as pd
import matplotlib.pyplot as plt

In [30]:
# Load the dataset
data = pd.read_csv('/GitHub/NEXTTRIP/flask_LocationModel/data/uber-raw-data-apr14.csv')

In [31]:
data.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [32]:
df = pd.DataFrame(data)

In [33]:
# Preprocess the data
data['Date/Time'] = pd.to_datetime(data['Date/Time'])

In [34]:
# Feature Engineering
data['weekday'] = data['Date/Time'].dt.weekday
data['hour'] = data['Date/Time'].dt.hour

In [35]:
data.head()

            Date/Time      Lat      Lon    Base  weekday  hour
0 2014-04-01 00:11:00  40.7690 -73.9549  B02512        1     0
1 2014-04-01 00:17:00  40.7267 -74.0345  B02512        1     0
2 2014-04-01 00:21:00  40.7316 -73.9873  B02512        1     0
3 2014-04-01 00:28:00  40.7588 -73.9776  B02512        1     0
4 2014-04-01 00:33:00  40.7594 -73.9722  B02512        1     0

In [36]:
# Plot a histogram of rides by weekday
# plt.figure(figsize=(8, 6))
# df['weekday'].plot(kind='hist', rwidth=0.8, bins=7, alpha=0.7)
# plt.title('Distribution of Rides by Weekday')
# plt.xlabel('Weekday (1=Monday, 7=Sunday)')
# plt.ylabel('Number of Rides')
# plt.xticks(range(1, 8), ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'])
# plt.grid(axis='y', linestyle='--', alpha=0.7)
# plt.show()

In [37]:
# Plot a histogram of rides by hour
# plt.figure(figsize=(8, 6))
# df['hour'].plot(kind='hist', rwidth=0.8, bins=24, alpha=0.7)
# plt.title('Distribution of Rides by Hour')
# plt.xlabel('Hour of the Day')
# plt.ylabel('Number of Rides')
# plt.grid(axis='y', linestyle='--', alpha=0.7)
# plt.show()

In [38]:
#  Aggregating the data to count how many times each combination of latitude, longitude, weekday, and hour appears.
heatmap_data=df.groupby(['Lat','Lon','weekday','hour']).size().reset_index(name='weight')

In [39]:
heatmap_data.head()

       Lat      Lon  weekday  hour  weight
0  40.0729 -74.1638        1    14       1
1  40.1918 -74.6036        0    10       1
2  40.2026 -74.1224        2    16       1
3  40.2168 -74.5670        0    18       1
4  40.2259 -74.6235        2    21       1

In [40]:
csv_filepath = '/GitHub/NEXTTRIP/flask_LocationModel/data/heatmap_data.csv'
heatmap_data.to_csv(csv_filepath, index=False)

In [41]:
hourcount_data=df.groupby(['hour']).size().reset_index(name='count')

In [42]:
hourcount_data.head()

   hour  count
0     0  11910
1     1   7769
2     2   4935
3     3   5040
4     4   6095

In [43]:
csv_filepath = '/GitHub/NEXTTRIP/flask_LocationModel/data/hourcount_data.csv'
hourcount_data.to_csv(csv_filepath, index=False)

In [52]:
daycount_data=df.groupby(['weekday']).size().reset_index(name='count')

In [53]:
daycount_data.head()

   weekday   count
0        0   60861
1        1   91185
2        2  108631
3        3   85067
4        4   90303

In [54]:
csv_filepath = '/GitHub/NEXTTRIP/flask_LocationModel/data/daycount_data.csv'
daycount_data.to_csv(csv_filepath, index=False)

In [56]:
dayHrcount_data=df.groupby(['weekday','hour']).size().reset_index(name='count')

In [57]:
dayHrcount_data.head()

   weekday  hour  count
0        0     0    518
1        0     1    261
2        0     2    238
3        0     3    571
4        0     4   1021

In [58]:
csv_filepath = '/GitHub/NEXTTRIP/flask_LocationModel/data/dayHrcount_data.csv'
dayHrcount_data.to_csv(csv_filepath, index=False)